@font-face {
  font-family: comfortaa;
  src: url(Comfortaa-VariableFont_wght.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", sans-serif;
  transition: all 0.3s linear;
}

::selection {
  background-color: #486848;
  color: #fff;
}
html,
body {
  width: 100%;
  height: 100%;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgb(155, 184, 155);
}
.game {
  overflow: hidden;
  width: 80%;
  height: 80%;
  border-radius: 50px 0 0 0;
  background-color: #fff;
  filter: drop-shadow(5px 5px 100px #486848);
  border: 2px solid #486848;
  visibility: hidden;
  opacity: 0;
  scale: 0;
  z-index: -1111;
}

.game_sign_up {
  overflow: hidden;
  width: 80%;
  height: 80%;
  border-radius: 50px 0 0 0;
  background-color: #fff;
  filter: drop-shadow(5px 5px 100px #486848);
  border: 2px solid #486848;
  position: absolute;
  visibility: visible;
  opacity: 1;
  scale: 1;
  z-index: 1111;
}

.game_header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  gap: 20px 20px;
  color: #ffff;
  background-color: #486848;
}
.game_header_hit,
.game_header_timer,
.game_header_score {
  width: 26.666666666666668%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}
.game_header_heading {
  font-weight: 900;
  font-size: 22px;
}
.game_header-box {
  color: rgb(155, 184, 155);
  font-weight: 600;
  font-size: 25px;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 5px;
}
.game_body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
  width: 100%;
  height: calc(100% - 100px);
}
.bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #486848;
  color: #fff;
  border-radius: 50%;
  font-weight: 500;
}
.bubble:hover {
  cursor: pointer;
  background-color: rgb(50, 75, 50);
}

.game_sign_up_form,
.game_sign_in_form {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.form-heading {
  color: #486848;
  font-weight: 900;
}

label {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 900;
  color: #486848;
}

#sign_up_name,
#sign_up_email,
#sign_up_password,
#sign_in_name,
#sign_in_email,
#sign_in_password {
  width: 50%;
  border: 0;
  border-bottom: 2px solid #486848;
  padding: 10px 10px;
  color: #486848;
  font-size: 16px;
  font-weight: 900;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: 2px solid #486848;
  font-size: 13px;
}

input:invalid {
  border-bottom: 2px solid red;
}

input:valid {
  border-bottom: 2px solid #486848;
}
.sign_up_password_label {
  position: relative;
}

.sign_up_password_eye_hide,
.sign_in_password_eye_hide {
  transition: none;
  width: 20px;
  height: 20px;
  background: url(eye-off-line.png) no-repeat;
  background-size: 20px;
  background-position: center;
  position: absolute;
  left: 73%;
  left: 72%;
  bottom: 20%;
  cursor: pointer;
}
.sign_up_password_eye_show,
.sign_in_password_eye_show {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background: url(eye-line.png) no-repeat;
  background-size: 20px;
  background-position: center;
  position: absolute;
  left: 72%;
  bottom: 20%;
}
.sign_up_submit,
.sign_in_submit {
  background-color: #486848;
  color: #ffff;
  font-weight: 900;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

@media (max-width: 800px) {
  .game {
    width: 90%;
    height: 90%;
    border-radius: 30px 0 0 0;
  }
  .game_header {
    padding: 10px;
    gap: 10px 10px;
  }
  .game_header_hit,
  .game_header_timer,
  .game_header_score {
    width: 100%;
  }
  .game_header_heading {
    font-size: 20px;
  }
  .game_header-box {
    font-size: 20px;
    padding: 8px 15px;
  }
  .game_body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    width: 100%;
    height: calc(100% - 100px);
  }
  .bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #486848;
    color: #fff;
    border-radius: 50%;
    font-weight: 500;
  }

  #sign_up_name,
  #sign_up_email,
  #sign_up_password,
  #sign_in_name,
  #sign_in_email,
  #sign_in_password {
    width: 80%;
  }

  .sign_up_password-checkbox,
  .sign_in_password-checkbox {
    left: 86%;
  }
}
@media (max-width: 360px) {
  #sign_up_name,
  #sign_up_email,
  #sign_up_password,
  #sign_in_name,
  #sign_in_email,
  #sign_in_password {
    width: 100%;
  }
}
