@font-face {
  font-family: comfortaa;
  src: url(Comfortaa-VariableFont_wght.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", sans-serif;
}

::selection {
  background-color: #486848;
  color: #fff;
}
html,
body {
  width: 100%;
  height: 100%;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgb(155, 184, 155);
}
.game {
  position: relative;
  overflow: hidden;
  width: 90%;
  height: 90%;
  border-radius: 50px 0 0 0;
  background-color: #fff;
  filter: drop-shadow(5px 5px 100px #486848);
  border: 2px solid #486848;
}

.game_header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  gap: 20px 20px;
  color: #ffff;
  background-color: #486848;
}
.game_header_hit,
.game_header_timer,
.game_header_score {
  width: 26.666666666666668%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}
.game_header_heading {
  font-weight: 900;
  font-size: 22px;
}
.game_header-box {
  color: rgb(155, 184, 155);
  font-weight: 600;
  font-size: 25px;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 5px;
}
.game_body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 5px;
  width: 100%;
  height: calc(100% - 100px);
}
.bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  background-color: #486848;
  color: #fff;
  border-radius: 50%;
  font-size: 15px;
  font-weight: 500;
}
.bubble:hover {
  cursor: pointer;
  background-color: rgb(50, 75, 50);
}

.game-content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0%);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.game-over {
  text-align: center;
  width: 100%;
  color: red;
  font-size: 30px;
}
.final-score {
  text-align: center;
  width: 100%;
  color: #486848;
  font-weight: 900;
  font-size: 25px;
}

.again-play {
  text-align: center;
  width: 100%;
  color: #486848;
  font-weight: 900;
  font-size: 20px;
}

.again-play:hover {
  text-decoration: underline;
}

@media (max-width: 800px) {
  .game {
    width: 95%;
    height: 95%;
    border-radius: 30px 0 0 0;
  }
  .game_header {
    padding: 2px;
    gap: 5px 5px;
  }
  .game_header_hit,
  .game_header_timer,
  .game_header_score {
    width: 100%;
  }
  .game_header_heading {
    font-size: 18px;
  }
  .game_header-box {
    font-size: 14px;
    padding: 5px 12px;
  }
  .game_body {
    overflow: hidden;
    align-items: flex-start;
    gap: 8px;
    padding: 5px;
  }
  .bubble {
    width: 30px;
    height: 30px;
    font-size: 13px;
  }
}
